.arrow {
  margin: 35px 0 0 14px;
}
.article {
  padding: 22px 14px 150px 14px;
  font-family: Inter;
  position: relative;
  font-style: normal;

  .title {
    h1 {
      padding-left: 60px;
      margin-top: -55px;
      margin-bottom: 0px;
      font-weight: 600;
      font-family: Inter;
    }
  }

  .articleInfo {
    margin: 30px 0 13px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 13px;
    column-gap: 14px;
    font-size: 20px;
    font-weight: 400;
  }

  .articleContent {
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 30px;
  }

  .separator {
    border: 1px solid black;
  }

  h2 {
    font-weight: normal;
  }

  .commentContent {
    .comUsername {
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
    }
    .comContent {
      padding: 18px 14px;
      background: #eeeeee;
      border-radius: 16px;
      font-size: 2Opx;
    }
  }

  .writeComment {
    padding: 10px 14px 8px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    Textarea {
      color: #8a8c8c;
      width: 100%;
      height: 120px;
      border-radius: 16px;
      border: 1px black solid;

      font-size: 20px;
      font-size: 400;
      padding-top: 22px;
      margin-right: 8px;
    }
    svg {
      width: 43px !important;
      height: 43px;
    }
  }
}

@media screen and (min-width: 900px) {
  .page {
    display: flex;
    padding-top: 8px;

    .article {
      width: 100%;
      .title {
        h1 {
          margin-top: 10px;
          padding-left: 0px;
        }
      }
      .separator {
        margin: 0 1%;
      }

      h2 {
        margin-top: 30px;
      }

      .comments {
        display: flex;
        justify-content: center;

        margin-top: 30px;

        .commentContent {
          display: flex;
          max-width: 570px;
          justify-content: center;
          min-height: 100px;
          .comUsername {
            display: block;
            margin-top: 5px;
            margin-right: 16px;
          }
          .comContent {
          }
        }
      }

      .articleInfo {
        display: flex;
        p {
          margin-right: 20px;
        }
      }

      .writeComment {
        position: static;
        position: fixed;
        left: 55px;

        display: flex;
        justify-content: center;
        width: 100%;

        Textarea {
          width: 570px;
          margin-right: 31px;
        }
      }
    }
  }
}
