.themeCard {
  padding: 15px 12px;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
@media screen and (min-width: 900px) {
  .themeCard {
    padding: 23px 21px;
    grid-template-columns: 1fr 1fr;
    row-gap: 14px;
    column-gap: 6px;
  }
}
