.userPage {
  h1 {
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
  }
  .userForm {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      margin: 0px 22px 24px 22px;
      font-size: 16px;

      .champ {
        display: flex;
        flex-direction: column;
        margin: 0px 22px;

        input {
          width: 250px;
          height: 50px;
          border: 2px solid #7763c5;
          border-radius: 8px;
          font-size: 18px;
        }

        .error {
          color: red;
        }
      }

      .champ:not(:nth-last-child(1)) {
        margin-bottom: 11px;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .separator {
    margin: 0 5%;
    border: 1px black solid;
  }

  .abonnement {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13px;

    .abonnementList {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 17px;
      margin-bottom: 25px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .userPage {
    .abonnement {
      .abonnementList {
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
      }
    }
  }
}
