.createArticle {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    margin-top: 21px;
  }

  form {
    margin: 20px 22px 40px 22px;
    font-size: 16px;

    .champ {
      display: flex;
      flex-direction: column;
      margin: 0px 22px;

      input,
      select,
      textarea {
        width: 250px;
        height: 50px;
        border: 2px solid #7763c5;
        border-radius: 8px;
        font-size: 18px;
      }

      textarea {
        height: 212px;
      }

      select {
        color: grey;
      }

      .error {
        color: red;
      }
    }

    .champ:not(:nth-last-child(1)) {
      margin-bottom: 20px;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrow {
  margin: 40px 0px 0px 30px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .createArticle {
    h1 {
      margin-top: -23px;
    }
  }
}
