<app-header></app-header>
<div class="home">
  <div class="homeTopButton">
    <app-interaction-button typeButton="button" textButton="Crée un article">
    </app-interaction-button>

    <div class="filter">
      Trier par
      <img src="/assets/arrow down.png" />
    </div>
  </div>

  <section class="homeArticle">
    <app-card-display
      title="Titre de l'article"
      cardType="article"
      textContent="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      date="03/11/1997"
      auteur="Mathieu"
    >
    </app-card-display>

    <app-card-display
      *ngFor="let art of articles"
      [title]="art.title"
      cardType="article"
      [textContent]="art.content"
      [date]="art.createdAt"
      [auteur]="art.author"
    >
    </app-card-display>
  </section>
</div>
