<header class="headerContainer">
  <div class="header">
    <img
      src="/assets/logo_p6.png"
      alt="logo"
      class="logo"
      (click)="goToHomePage()"
    />

    <div class="rightBlock">
      <button class="burgerBtn" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div *ngIf="this.authService.isLoggedIn()">
        <ul class="desktopMenu">
          <li class="deconnectLink" (click)="logout()">se déconnecter</li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/home">Articles</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/theme">Thèmes</a>
          </li>
          <li>
            <img src="/assets/user.png" alt="userIcon" class="userIcon" />
          </li>
        </ul>
      </div>
    </div>

    <div
      class="mobileMenuBackground"
      *ngIf="isMobileMenuOpen"
      (click)="closeMobileMenu()"
    ></div>

    <div
      class="mobileMenuSlider"
      [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen }"
    >
      <ul class="mobileMenu">
        <li class="deconnectLink" (click)="closeMobileMenu(); logout()">
          se déconnecter
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMobileMenu()"
        >
          <a routerLink="/home">Articles</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMobileMenu()"
        >
          <a routerLink="/theme">Thèmes</a>
        </li>
      </ul>
      <div (click)="closeMobileMenu()">
        <img src="/assets/user.png" alt="userIcon" class="userIcon" />
      </div>
    </div>
  </div>
</header>
