.headerContainer {
  width: 100vw;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 7px 0px;
  padding-left: 22px;
  padding-right: 22px;

  .logo {
    height: 81px;
  }

  .rightBlock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burgerBtn {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    gap: 4px;
    padding: 0px;

    span {
      width: 25px;
      height: 3px;
      background: #333;
    }
  }

  .desktopMenu {
    display: none;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-family: Inter;
    font-size: 20px;
    cursor: pointer;

    .deconnectLink {
      color: #a40f0f;
      font-weight: bold;
      font-size: 14px;
      font-family: Inter;
    }

    li {
      margin-right: 20px;
      font-size: 20px;
      font-weight: 400;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      &:nth-last-child(2) {
        margin-right: 30px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      &.active a {
        color: #6c5ccf;
      }
    }

    .userIcon {
      width: 48px;
      height: 48px;
    }
  }

  .mobileMenuBackground {
    position: fixed;
    background: #efefefb2;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .mobileMenuSlider.mobile-menu-open {
    transform: translateX(0);
  }

  .mobileMenuSlider {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    width: 60%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 3;
    font-size: 20px;
    border: 1px black solid;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    ul {
      display: flex !important;
      flex-direction: column;
      align-items: flex-end;
      list-style: none;
      padding-right: 15px;

      .deconnectLink {
        color: #a40f0f;
        font-weight: bold;
        font-size: 14px;
        font-family: Inter;
      }

      li {
        margin-bottom: 20px;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    .userIcon {
      padding-right: 15px;
      width: 48px;
      height: 48px;
    }
  }
}

@media (min-width: 800px) {
  .header {
    .desktopMenu {
      display: flex;
    }

    .burgerBtn {
      display: none;
    }

    .mobileMenuSlider {
      display: none;
    }
    .mobileMenuBackground {
      display: none;
    }
  }
}
